IF  NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[{{.TableName}}]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[{{.TableName}}] (
	[seqID] BIGINT IDENTITY(1,1) NOT NULL,
	[body] VARBINARY(MAX),
	{{range $index, $element := .Columns}}[{{.Name}}] {{.SqlType}} NOT NULL{{if ne $index (sub (len $.Columns) 1)}},{{end}}
	{{end}}
	{{if len .PrimaryKeyColumns}}CONSTRAINT PK_{{.TableName}} PRIMARY KEY ({{range $index, $element := .PrimaryKeyColumns}}{{if $index}}, {{end}}[{{.}}]{{end}}){{end}}
)
END